---
---
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  {% for file in site.static_files %}
    {% if file.extname == '.css' %}
      <link rel="stylesheet" href="{{ file.path }}">
    {% endif %}
  {% endfor %}
</head>

<body>
  <div>
    Reversible Things
  </div>
  <div>
    <ul>
      <li>
        <a href="/contents">글 목록</a>
      </li>
    </ul>
  </div>
  {% for file in site.static_files %}
    {% if file.extname == '.js' %}
      <script src="{{ file.path }}"></script>
    {% endif %}
  {% endfor %}
</body>

</html>
